Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-framebuf
adafruit-circuitpython-gps
adafruit-circuitpython-icm20x
adafruit-circuitpython-register
adafruit-circuitpython-requests
adafruit-circuitpython-ssd1306
adafruit-circuitpython-bmp280
adafruit-circuitpython-typing
Adafruit-GPIO
Adafruit-PlatformDetect
Adafruit-PureIO
AHRS
board
certifi
cffi 
chardet
idna
numpy
Pillow
pycosat
pycparser
pyftdi
pygame
pyOpenSSL
pyquaternion
pyserial
PySocks
pyusb
requests
RPi.GPIO
six
spidev
tqdm 
typing-extensions
urllib3
gpsd-py3